@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<webpack-styles entry="first" />
	<title>WebpackTag.Samples.WebpackAssets</title>
</head>
<body>
<div id="hello"></div>
<webpack-scripts entry="first"></webpack-scripts>
</body>
</html>
